<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
        {{#if newRes.user}}
            Welcome <span class="text-success">{{newRes.user}}</span>!
        {{else}}
        Navbar
        {{/if}}
    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">All Articles</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/login">Login</a>
          <a class="dropdown-item" href="#">Saved Articles</a>
          <div class="dropdown-divider"></div>
          <button class="dropdown-item" id="break-out">Logout</button>
        </div>
      </li>
    </ul>
  </div>
</nav>

<h1 class="text-center">Newscraper</h1>

<section class="text-center">
    <button id="da-scraper" class="btn btn-success">Scrape Articles</button>
    <section id="dump">


        {{#if newRes}}
        {{#each newRes.links}}
        <section class="card row dump-scraper my-2 text-center p-1">
            <div class="headline-scrape card-header">
                <h3>{{headline}}</h3>
            </div>
            <div class="summary-scrape">
                {{summary}}...
            </div>
            <div class="url-scrape">
                <a href="{{url}}" target="_blank" class="mb-1">Read Me!</a>
            </div>
            <div class="m-2 card-footer">
                <div id="save-article-{{_id}}">
                    <button class="btn article-save m-1" data-id="{{_id}}">Save Article</button>
                </div>
                <section class="comment-dump col-12 border-top mt-3" id="{{_id}}">
                    <button class="btn comment-view m-2" data-id="{{_id}}">Toggle Comments</button>
                        
                    <div class="c-view-switch" style="display: none">
                        <div class="para-com-dump"></div>

                        <div class="input-group mb-3">
                            <textarea type="text" class="form-control" placeholder="Comment Here" aria-label="Recipient's username" aria-describedby="basic-addon2"></textarea>
                            <div class="input-group-append">
                                <button class="input-group-text btn c-sub" data-id="{{_id}}" id="basic-addon2">submit</button>
                            </div>
                        </div>

                    </div>
                </section>
                </div>
            </section>
            {{/each}}
            {{/if}}





    </section>
</section>

<div class="modal" id="login-req"tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Login Required</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Please login to comment on, or save articles.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" onclick="window.location='/login';">Login</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>